

/* Posts
------------------------------- */
.post h4 {
  margin-bottom: 9px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 9px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

#iso {
    margin: 0 auto;
  max-width: 100%;
}

/* Browser Support of ':first-of-type' pseudo-class
Chrome  Safari  Firefox  Opera  IE  Android   iOS
Works    3.2+    Works    9.5+  9+   Works   Works
*/

#iso .row:first-of-type {
  margin: 0;
}

.fullpage {
    max-width: 100%;
}

.alert {
    margin: 10px 0;
    max-width: 100%;
    padding: 0;
}

.alert_img {
  background:url(../images/volcanic-72.png) no-repeat;
  width:78px;
  height:78px;
}

.alert, .alert_img {
  border:1px solid #ccc;
}

.alert .content {
    padding: 20px;
}

