/*
  CSS file for DWA p1
*/

body {

	padding-top: 70px;
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 12px;
line-height: 12px;

 

  animation:         greens 50s infinite alternate; /* CSS3 */
  -moz-animation:    greens 50s infinite alternate; /* Firefox */
  -webkit-animation: greens 50s infinite alternate; /* Webkit */

}

nav.navbar.navbar-default.navbar-top {

 
 

  animation:         purples 50s infinite alternate; /* CSS3 */
  -moz-animation:    purples 50s infinite alternate; /* Firefox */
  -webkit-animation: purples 50s infinite alternate; /* Webkit */
}

div.panel.panel-default div.panel-heading{


 

  animation:         site-wrapper 50s infinite alternate; /* CSS3 */
  -moz-animation:    site-wrapper 50s infinite alternate; /* Firefox */
  -webkit-animation: site-wrapper 50s infinite alternate; /* Webkit */
}

li.active a{




  animation:         site-wrapper 50s infinite alternate; /* CSS3 */
  -moz-animation:    site-wrapper 50s infinite alternate; /* Firefox */
  -webkit-animation: site-wrapper 50s infinite alternate; /* Webkit */
}


div.panel-headding {




  animation:         site-wrapper 50s infinite alternate; /* CSS3 */
  -moz-animation:    site-wrapper 50s infinite alternate; /* Firefox */
  -webkit-animation: site-wrapper 50s infinite alternate; /* Webkit */
}




div.panel-body {


 

  animation:         browns 50s infinite alternate; /* CSS3 */
  -moz-animation:    browns 50s infinite alternate; /* Firefox */
  -webkit-animation: browns 50s infinite alternate; /* Webkit */
}

div.jumbotron  {


  -webkit-box-shadow: inset 0 0 100px white;
          box-shadow: inset

  animation:         site-wrapper 50s infinite alternate; /* CSS3 */
  -moz-animation:    site-wrapper 50s infinite alternate; /* Firefox */
  -webkit-animation: site-wrapper 50s infinite alternate; /* Webkit */
}


@keyframes greens { /* CSS3 */
  0%  { background-color: #77e7b8; }
  10% { background-color: #669510; }
  20%   { background-color: #b0c056; }
  30%  { background-color: #116823; }
  40%   { background-color: #7bee45; }
  50%   { background-color: #55cd6c; }
  57%   { background-color: #116905; }
  65%   { background-color: #91d7b0; }
  73%   { background-color: #d2f4da; }
  85%   { background-color: #aeeeb6; }
  92%   { background-color: #bcec6b; }
  100%   { background-color: #e1ff91; }}


@-moz-keyframes greens { /* Firefox */
  10% { background-color: #669510; }
  20%   { background-color: #b0c056; }
  30%  { background-color: #116823; }
  40%   { background-color: #7bee45; }
  50%   { background-color: #55cd6c; }
  57%   { background-color: #116905; }
  65%   { background-color: #91d7b0; }
  73%   { background-color: #d2f4da; }
  85%   { background-color: #aeeeb6; }
  92%   { background-color: #bcec6b; }
  100%   { background-color: #e1ff91; }}

@-webkit-keyframes greens { /* Webkit */
  10% { background-color: #669510; }
  20%   { background-color: #b0c056; }
  30%  { background-color: #116823; }
  40%   { background-color: #7bee45; }
  50%   { background-color: #55cd6c; }
  57%   { background-color: #116905; }
  65%   { background-color: #91d7b0; }
  73%   { background-color: #d2f4da; }
  85%   { background-color: #aeeeb6; }
  92%   { background-color: #bcec6b; }
  100%   { background-color: #e1ff91; }}



@keyframes site-wrapper { /* CSS3 */
  0%  { background-color: #a9eef3; }
  25% { background-color: #a0c2ef; }
  50%   { background-color: #7692d0; }
  75%  { background-color: #bbdbef; }
  100%   { background-color: #ccddef; }


}
@-moz-keyframes site-wrapper { /* Firefox */
  0%  { background-color: #a9eef3; }
  25% { background-color: #a0c2ef; }
  50%   { background-color: #7692d0; }
  75%  { background-color: #bbdbef; }
  100%   { background-color: #ccddef; }
}
@-webkit-keyframes site-wrapper { /* Webkit */

  0%  { background-color: #a9eef3; }
  25% { background-color: #a0c2ef; }
  50%   { background-color: #7692d0; }
  75%  { background-color: #bbdbef; }
  100%   { background-color: #ccddef; }
}

@keyframes purples { /* CSS3 */
  0%  { background-color: #861059; }
  12% { background-color: #e3a3df; }
  24%   { background-color: #aca0d9; }
  36%  { background-color: #6d5894; }
  47%   { background-color: #8f4b71; }
  59%   { background-color: #d16fb1; }
  71%   { background-color: #f2daf8; }
  83%   { background-color: #d24d92; }
  91%   { background-color: #da3193; }
  100%   { background-color: #ee4994; }}

  @-webkit-keyframes purples { /* Webkit */
  0%  { background-color: #861059; }
  12% { background-color: #e3a3df; }
  24%   { background-color: #aca0d9; }
  36%  { background-color: #6d5894; }
  47%   { background-color: #8f4b71; }
  59%   { background-color: #d16fb1; }
  71%   { background-color: #f2daf8; }
  83%   { background-color: #d24d92; }
  91%   { background-color: #da3193; }
  100%   { background-color: #ee4994; }}



@-moz-keyframes purples { /* Firefox */
  0%  { background-color: #861059; }
  12% { background-color: #e3a3df; }
  24%   { background-color: #aca0d9; }
  36%  { background-color: #6d5894; }
  47%   { background-color: #8f4b71; }
  59%   { background-color: #d16fb1; }
  71%   { background-color: #f2daf8; }
  83%   { background-color: #d24d92; }
  91%   { background-color: #da3193; }
  100%   { background-color: #ee4994; }}


@keyframes browns { /* CSS3 */
  0%  { background-color: #70492f; }
  17% { background-color: #ab7753; }
 34%   { background-color: #d3aa75; }
  51%  { background-color: #baaa93; }
  68%   { background-color: #ddbbbd; }
  85%   { background-color: #ccaaaa; }
  100%   { background-color: #ffcca4; }}

@-moz-keyframes browns { /* Firefox */
  0%  { background-color: #70492f; }
  17% { background-color: #ab7753; }
 34%   { background-color: #d3aa75; }
  51%  { background-color: #baaa93; }
  68%   { background-color: #ddbbbd; }
  85%   { background-color: #ccaaaa; }
  100%   { background-color: #ffcca4; }}

  @-webkit-keyframes browns { /* Webkit */
  0%  { background-color: #70492f; }
  17% { background-color: #ab7753; }
 34%   { background-color: #d3aa75; }
  51%  { background-color: #baaa93; }
  68%   { background-color: #ddbbbd; }
  85%   { background-color: #ccaaaa; }
  100%   { background-color: #ffcca4; }}






ul {
font-family: 'Carrois Gothic SC', sans-serif;
text-align: left;
font-size: 1.3em;
line-height: 1.4em;
}

p {
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 1.3em;
line-height: 1.4em;
}



h1{ 
text-align: center;
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 3em;
color: #d40e52}

h2{
font-family: 'Carrois Gothic SC', sans-serif;
font-weight: bold;
padding-bottom: 5px;
color: #5c2d50;
}



h3{ 
text-align: center;
color: #cd1719;
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 4em;
}

h4{ 
text-align: center;
color: #d40e52;
font-family: 'Carrois Gothic SC', sans-serif;
}


img {    
display: block;
max-height:100%;
max-width: 80%;
float:left;

}

header { 
background-color: #61c7e4;
text-align: center;
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 1.5em;
line-height: 1.3em;
color: #5c2d50;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}


article {
padding: 20px 0px 75px 0px;
margin-top: 2em;
margin-bottom: 4em;
}

.fancy {font-family: 'Great Vibes', cursive;

}

#bracketed {  
              border-top:2px solid black;  
              border-bottom: 2px solid black;
            font-size: 1.3em;
            line-height: 1.3em;
text-align: center;
          }

#box {
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 1.3em;
line-height: 1.4em;
}

.contact{display: inline-block;  border: 1px solid;
padding: 1.25rem 1.6875rem;
font-size: 1.3em;
line-height: 1.4em;
max-height:100%;
max-width: 80%;


}

.contact:hover{

background-color: black;
color:white;
border-color: black;
 font-size: 1.3em;
line-height: 1.4em;
}



